 <%- include('head') %>
  <style>
    .table-box{
      width: 600px;
      float: left;
      height: 600px;
      margin: 50px;
    }
    *{
      margin: 0 auto;
      padding: 0;
    }
    table{
      width: 500px;
      text-align: center;
      border-collapse: collapse;
    }
    table tr th,tr td{
      color:#000000;
      height: 30px;
      line-height: 30px;
      border:1px solid #d9e0ee;
    }
  </style>
  <div class="table-box">
    <table>
      <tr>
        <th>id</th>
        <th>商品版块id</th>
        <th>商品类名</th>
        <th>编辑</th>
        <th>删除</th>
      </tr>
      <% for(var i=0;i<classinfo.length;i++){ %>
      <tr>
        <td><%= classinfo[i].spclass_id %></td>
        <td><%= classinfo[i].class_id %></td>
        <td><%= classinfo[i].spclass_name %></td>
        <td><a href="/users/updatespclass/<%= classinfo[i].spclass_id %>">编辑</a></td>
        <td><a href="/users/deletespclass/<%= classinfo[i].spclass_id %>">删除</a></td>
      </tr>
      <% } %>
    </table>
    <div style="clear:both"></div>
  </div>
