<%- include('head') %>
<style>
  .middle{
    margin-top: 30px;
  }
  .middleIn{
    background: #FFFFFF;
    height: 500px;
  }
  .middleIn-top{
    padding-left: 350px;
    height: 30px;
    border-bottom: 1px solid #F3F3F3;
  }
  .middleIn-top>h3{
    height: 30px;
    line-height: 30px;
    color:#000;
    font-weight: 900;
  }
  .middleIn-middle{
    margin-left: 430px;
    margin-top: 30px;
  }
  .middleIn-middle p{
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: right;
  }
  .middleIn-middle span{
    color: #000000;
  }
  s{
    color: red;
  }
  input[type="text"],input[type="password"]{
    width: 200px;
    height: 30px;
    border: 1px solid #D7D7D7;
    font-size: 15px;
    margin-left: 10px;
  }
  input[type="submit"]{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: red;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 900;
    border-radius: 20px;
    margin-right: 100px;
  }
  .p1{
    margin-left: -40px;
  }
  .p1 input:nth-of-type(1){
    margin-left: 30px;
  }
  .p1 input:nth-of-type(2){
    margin-left: 30px;
  }
</style>
<div class="middle">
  <div class="middleIn w">
    <div class="middleIn-top">
      <h3><%= title%></h3>
    </div>
    <div class="middleIn-middle">
      <form action="/users/updatestoreCheck">
        <p><input type="hidden" name="id" value="<%= info.store_id %>"></p>
        <p><span>店铺名：<s>*</s></span><input type="text" name="name" value="<%= info.store_name %>"></p>
        <p><span>商品数量：<s>*</s></span><input type="text" name="price" value="<%= info.store_spnum %>"></p>
        <p class="p1"><span>是否自营：<s>*</s>
          </span><input type="radio" name="image" <% if(info.store_iszy == '自营') { %>checked<% } %> value="自营" >自营
          <input type="radio" name="image" <% if(info.store_iszy == '非自营') {%>checked<% } %>  value="非自营">非自营
        </p>
        <p class="p1"><span>是否包邮：<s>*</s></span>
          <input type="radio" name="pl" <% if(info.store_isby == '包邮') { %>checked<% } %>  value="包邮">包邮
          <input type="radio" name="pl" <% if(info.store_isby == '不包邮') {%>checked<% } %> value="不包邮">不包邮
        </p>
        <p class="p1"><span>是否满减：<s>*</s></span><input type="radio" <% if(info.store_ismj == '满减') { %> checked <% } %> name="number" value="满减">满减
          <input type="radio" name="number" <% if(info.store_ismj == '不满减') { %>checked<% } %> value="不满减">不满减</p>
        <p class="p1"><span>是否满赠：<s>*</s></span><input type="radio" <% if(info.store_ismz == '满赠') { %>checked<% } %> name="dz" value="满赠">满赠
          <input type="radio" name="dz" <% if(info.store_ismz == '不满赠') {%>checked<% } %> value="不满赠">不满赠</p>
        <p><input type="submit" value="修改"></p>

      </form>
    </div>
  </div>
</div>
</body>
</html>