<%- include('head') %>
<style>
  .middle-content{
    background: #FFFFFF;
    padding-top: 20px;
    border-top: 3px solid #FD3F49;
  }
  .content-box{
    width: 1200px;
    margin-top: 20px;
  }
  .content-ul>li{
    float: left;
    width: 80px;
    line-height: 40px;
    height: 40px;
    text-align: center;
  }
  .content-ul>li>a{
    font-size: 15px;
  }
  .content-ul>li>a:hover{
    color: #FF855B;
    font-size: 20px;
  }
  .content-left{
    float: left;
    text-align: center;
    margin-right: 50px;
    width: 240px;
    height: 330px;
    padding: 5px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
  }
  .content-left>h3{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color:#000;
  }
  .content-left>h3:hover{
    color:#e60061;
  }
  .content-left>button{
    background:#ff5c4d ;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color:#fff;
  }
  .content-left>button:hover{
    background: #fd0808;
  }
  .content-left>p:nth-of-type(1){
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    border-top:1px dotted #EAEAEA;
  }
  .content-left>p:nth-of-type(1)>a{
    font-size: 13px;
  }
  .content-left>p:nth-of-type(2){
    margin-top: 50px;
    height: 50px;
  }
  .content-left>p:nth-of-type(2)>a{
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-left: 70px;
    color:#fff;
    display: block;
    background: gray;
    font-size: 15px;
  }
  .content-left>p:nth-of-type(2)>a:hover{
    color:#fff;
    background:#9E865D;
  }
  .content-model{
    float:left;
    width: 240px;
    float: left;
    margin:0 30px;
    height: 330px;
    padding: 5px;
  }
  .model-p1{
    color: #EC5712;
    height: 30px;
    font-weight: 900;
  }
  .model-p2{
    height: 30px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .model-p2>a{
    font-size: 13px;
  }
  .model-p2>a:hover{
    color: #E60012;
  }
  .content-ul{
    width: 560px;
    height: 40px;
    margin-left: 320px;
    background: #FAFAFA;
  }
  .content-ul>li{
    float: left;
    width: 80px;
    line-height: 40px;
    height: 40px;
    text-align: center;
  }
  .content-ul>li>a{
    font-size: 15px;
  }
  input[type='checkbox']{
    margin-left:20px;
  }
  .model-span1{
    color:#B2ABAB; ;
    margin-left: 130px;
    font-size: 13px;
    padding-left: 20px;
    background: url("/images/pl.png") no-repeat left center;
  }
  .model-p3{
    font-size: 13px;
  }
</style>
<div class="middle-content">
  <div class="middle-contentIn w">
    <ul class="content-ul clearfix">
      <li><a href="/spinfo">综合</a></li>
      <li><a href="/ziying">自营</a></li>
      <li><a href="/baoyou">包邮</a></li>
      <li><a href="/manjian">满减</a></li>
      <li><a href="/manzeng">满赠</a></li>
      <!--<li><a href="/baoyou"><input type="checkbox" name="by" value="包邮">包邮</a></li>-->
      <!--<li><a href="/manjian"><input type="checkbox" name="mj" value="满减">满减</a></li>-->
      <!--<li><a href="/manzeng"><input type="checkbox" name="mz" value="满赠">满赠</a></li>-->
    </ul>
    <div class="content-box clearfix">

        <% for(var j = 0;j<store.length; j++){ %>
          <div class="clearfix" style="margin: 10px 0">
            <div class="content-left">
              <h3><%= store[j].store_name %></h3>
              <button>收藏本商店</button>
              <p><a href="#">欢迎光临本店！</a></p>
              <h6>我们只做正品食品！</h6>
              <h6>世界很大，好吃的很少。</h6>
              <p><a href="#">进入店铺></a></p>
              <p><a href="#">相关商品<%= store[j].store_spnum %>件></a></p>
            </div>
            <%
              for(var i = 0; i < info.length; i++){
                if(store[j].store_name == info[i].store_name ){
            %>
              <div class="content-model">
                <img src="/images/<%= info[i].sp_image %>" alt="loading..">
                <p class="model-p2"><a href="#"><%= info[i].sp_name %></a></p>
                <p class="model-p1">￥<%= info[i].sp_price%><span class="model-span1"><%= info[i].sp_pl %></span></p>
                <p class="model-p3"><%= info[i].store_name %></p>
              </div>
            <%
                }
              }
            %>
         </div>
        <% } %>

    </div>
  </div>
</div>
<%- include('foot') %>
<!--固定右侧窗口开始-->
<div class="rightMenu">
  <p class="rightMenu-p1"><img src="/images/right1.png" alt="loading.."><a href="/car">购物车</a></p>
  <p class="rightMenu-p2"><img src="/images/right2.png" alt="loading.."></p>
  <p class="rightMenu-p3"><img src="/images/right3.png" alt="loading.."></p>
  <p class="rightMenu-p4"><img src="/images/right4.png" alt="loading.."></p>
  <p class="rightMenu-p5"><img src="/images/right5.png" alt="loading.."></p>
  <p class="rightMenu-p6"><img src="/images/right6.png" alt="loading.."></p>
  <p class="rightMenu-p7"><a href="#"><img src="/images/right7.png" alt="loading.."></a></p>
</div>
<!--固定右侧窗口结束-->
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/index.js"></script>
<script>
  $(function(){
    $(".content-model").mouseenter(function(){
      $(this).css('border','1px solid #EAEAEA');
    }).mouseleave(function(){
      $(this).css('border','');
    });
  })
</script>
</body>
</html>