<%- include('head') %>
<style>
  .middle{
    margin-top: 30px;
  }
  .middleIn{
    background: #FFFFFF;
    height: 500px;
  }
  .middleIn-top{
    padding-left: 350px;
    height: 30px;
    border-bottom: 1px solid #F3F3F3;
  }
  .middleIn-top>h3{
    height: 30px;
    line-height: 30px;
    color:#000;
    font-weight: 900;
  }
  .middleIn-middle{
    margin-left: 430px;
  }
  .middleIn-middle p{
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: right;
  }
  .middleIn-middle span{
    color: #000000;
  }
  s{
    color: red;
  }
  input[type="text"],input[type="password"]{
    width: 200px;
    height: 30px;
    border: 1px solid #D7D7D7;
    font-size: 15px;
    margin-left: 10px;
  }
  input[type="submit"]{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: red;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 900;
    border-radius: 20px;
    margin-right: 100px;
  }
</style>
<div class="middle">
  <div class="middleIn w">
    <div class="middleIn-top">
      <h3><%= title%></h3>
    </div>
    <div class="middleIn-middle">
      <form action="/updateorderCheck">
        <p><input type="hidden" name="id" value="<%= info.order_id %>"></p>
        <p><span>订单号：<s>*</s></span><input type="text" readonly name="number" value="<%= info.order_id %>"></p>
        <p><span>收件人：<s>*</s></span><input type="text" readonly name="name" value="<%= info.order_name %>"></p>
        <p><span>手机号：<s>*</s></span><input type="text" name="phone" value="<%= info.order_phone %>"></p>
        <p><span>收件地址：<s>*</s></span><input type="text" name="place" value="<%= info.order_place %>"></p>
        <p><input type="submit" value="修改"></p>
      </form>
    </div>
  </div>
</div>
</body>
</html>